<html>
  <head>
    {% if title %}
    <title>{{ title }} - FoxDB</title>
    {% else %}
    <title>Welcome to FoxDB</title>
    {% endif %}
  </head>
  <body>
    <div>
        <a href="{{ url_for('index') }}">Home</a>
        | <a href="{{ url_for('insert') }}">Insert</a>
    </div>
    {% block content %}{% endblock %}
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </body>
</html>
