<html>
  <head>
    {% if title %}
    <title>{{ title }} - FoxDB</title>
    {% else %}
    <title>Welcome to FoxDB</title>
    {% endif %}
  </head>
  <body>
    <div>
        <a href="{{ url_for('index') }}">Home</a>
        {% if g.user.is_authenticated() %}
        | <a href="{{ url_for('query') }}">Query</a>
        | <a href="{{ url_for('pedigree') }}">Pedigree</a>
        | <a href="{{ url_for('insert') }}">Insert</a>
        | <a href="{{ url_for('update') }}">Update</a>
        | <a href="{{ url_for('delete') }}">Delete</a>
        | <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <hr>
    {% block content %}{% endblock %}
    <hr>
  </body>
</html>
