{% extends "base.html" %}

{% block content %}
  <style type="text/css">
    .hidden{display: none;}
  </style>
  <h2>FoxDB Pedigree (under construction)</h2>
  <form action="" method="post" name="form">
      {{ form.hidden_tag() }}
      <p><input type="submit" name="submit" value="Run Error Checker"></p>
      <p>{{ form.marker_id_chr12.label }}: {{ form.marker_id_chr12 }}
	(Ordered by chromosome position)
      </p>
      <p>{{ form.pedigree_206.label }}: {{ form.pedigree_206 }}</p>
      <p>{{ form.pedigree_207.label }}: {{ form.pedigree_207 }}</p>
      <p><input type="submit" name="submit" value="Build Tree"></p>
  </form>
  <table>
    <tr>
      <td>Marker ID:</td><td>{{ marker_id }}</td>
      <td style="display:none;">Maternal Grandmother:</td>
      <td id="MaternalGM" style="display:none;">
	{{ maternal_grandmother }}
      </td>
    </tr>
    <tr>
      <td>Meiotic Position:</td><td>{{ meiotic_pos }}</td>
      <td style="display:none;">Maternal Grandfather:</td>
      <td id="MaternalGF" style="display:none;">
	{{ maternal_grandfather }}
      </td>
    </tr>
    <tr>
      <td>Fox Chromosome Segment:</td><td>{{ fox_chr_seg }}</td>
      <td style="display:none;">Paternal Grandmother:</td>
      <td id="PaternalGM" style="display:none;">
	{{ paternal_grandmother }}
      </td>
    </tr>
    <tr>
      <td>Fox Chromosome:</td><td>{{ fox_chr }}</td>
      <td style="display:none;">Paternal Grandfather:</td>
      <td id="PaternalGF" style="display:none;">
	{{ paternal_grandfather }}
      </td>
    </tr>
    <tr>
      <td>Fox Chromosome Position:</td><td>{{ fox_chr_pos }}</td>
      <td style="display:none;">Mother:</td>
      <td id="Mother" style="display:none;">{{ mother }}</td>
    </tr>
    <tr>
      <td></td><td></td>
      <td style="display:none;">Father:</td>
      <td id="Father" style="display:none;">{{ father }}</td>
    </tr>
    <div class="hidden" id="Children">{{ children }}</div>
    {% for child in children %}
    <tr>
      <td></td><td></td>
      <td style="display:none;">Child:</td>
      <td style="display:none;">{{ child }}</td>
    </tr>
    {% endfor %}
  </table>
  <body></body>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='Pedigree_Tree.js') }}">
  </script>
{% endblock %}
