{% extends "base.html" %}

{% block content %}
  <style type="text/css">
    .hidden{display: none;}
  </style>
  <h2>FoxDB Pedigree (under construction)</h2>
  <form action="" method="post" name="form">
      {{ form.hidden_tag() }}
      <p><input type="submit" name="submit" value="Run Error Checker"></p>
      <p>{{ form.marker_id_chr12.label }}: {{ form.marker_id_chr12 }}
	(Ordered by chromosome position)
      </p>
      <p>{{ form.pedigree_206.label }}: {{ form.pedigree_206 }}</p>
      <p>{{ form.pedigree_207.label }}: {{ form.pedigree_207 }}</p>
      <p><input type="submit" name="submit" value="Build Tree"></p>
  </form>
  <table>
    <tr>
      <td>Marker ID:</td><td>{{ marker_id }}</td>
      <td>Maternal Grandmother:</td><td id="MaternalGM">
	{{ maternal_grandmother }}
      </td>
    </tr>
    <tr>
      <td>Meiotic Position:</td><td>{{ meiotic_pos }}</td>
      <td>Maternal Grandfather:</td><td id="MaternalGF">
	{{ maternal_grandfather }}
      </td>
    </tr>
    <tr>
      <td>Fox Chromosome Segment:</td><td>{{ fox_chr_seg }}</td>
      <td>Paternal Grandmother:</td><td id="PaternalGM">
	{{ paternal_grandmother }}
      </td>
    </tr>
    <tr>
      <td>Fox Chromosome:</td><td>{{ fox_chr }}</td>
      <td>Paternal Grandfather:</td><td id="PaternalGF">
	{{ paternal_grandfather }}
      </td>
    </tr>
    <tr>
      <td>Fox Chromosome Position:</td><td>{{ fox_chr_pos }}</td>
      <td>Mother:</td><td id="Mother">{{ mother }}</td>
    </tr>
    <tr>
      <td></td><td></td>
      <td>Father:</td><td id="Father">{{ father }}</td>
    </tr>
    <div class="hidden" id="Children">{{ children }}</div>
    {% for child in children %}
    <tr>
      <td></td><td></td>
      <td>Child:</td><td>{{ child }}</td>
    </tr>
    {% endfor %}
  </table>
  <body></body>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='Pedigree_Tree.js') }}">
  </script>
{% endblock %}
